

<div style="display:flex; align-items:center; justify-content:center; height:100%">
<p-panel header="Login">

  <div  style="display:flex; align-items:center; justify-content:center; flex-direction:column">
    <div class="ui-inputgroup">
 <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span> <input type="text" pInputText placeholder="Username" />
    </div>
  
  <br>
  <div class="ui-inputgroup">
 <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span> 
 <input type="password" pPassword placeholder="Password" />
  </div>
  </div>
</p-panel>
</div>

